@charset "UTF-8";

    header{
        background-color: rgb(255, 101, 0);
        margin: 0px;
        padding: 20px;
        
    }
    body{
        margin: 0px;
        background-color: rgb(255, 255, 255)
    }
    #carrinho{
        position: absolute;
        right: 200px;
        top: 20px;
    }
    #perfil{
        position: absolute;
        right: 100px;
        top: 20px
    }
    div{
        background-color: rgb(54, 51, 245);
        
        height: 10px;
        
    }
    #barrabusca{
        position: absolute;
        top: 70px;
        right: 70px;    
        
    }
    #perfildocliente{
        text-align: center;
    }
    #sobrenos{
        text-align: center;
        color: black; 
    }
    #descricao{
        margin: 10px;
    }
    p{
        margin: 10px;
    }
    